<h1 class="h1 text-center ">Trabajo Práctico Angular</h1>
<h3 class="h3 text-center mt-5">Descubre y Marca los Países que Has Visitado</h3>

<div class="container">
  <header class="d-flex justify-content-center py-3">
    <div class="nav nav-pills">
      <a  class="nav-item nav-link link-body-emphasis " aria-current="page" [routerLink]="['/']">Lista de Países</a>
      <a  class="nav-item nav-link link-body-emphasis " aria-current="page" [routerLink]="['/visitados']">Paises Visitados</a>
    </div>
  </header>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>